<div class="col-lg-12">
    
    <h3>{{title}}</h3>

    <table class="table">

        <thead>

            <tr>

                <th scope="col">#</th>

                <th scope="col">Nombre</th>

                <th scope="col">Año</th>

                <th scope="col">Acciones</th>

            </tr>

        </thead>

        <tbody>

            <tr>

                <th scope="row">1</th>

                <td>Oso Panda</td>
                
                <td>2012</td>
                
                <td>

                    <button class="btn btn-sm btn-primary">

                        <span class="glyphicon glyphicon-pencil"></span>
                        Editar

                    </button>
                </td>

            </tr>

        </tbody>        

    </table>


</div>