<nav class="navbar navbar-expand-lg navbar-dark bg-dark front">

  <a class="navbar-brand text-light">{{title}}</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#navbar-1" aria-controls="navbar-1" 
    aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbar-1">
    <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">
            <i class="fas fa-home"></i>Inicio
          </a> 
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/animales']" [routerLinkActive]="['active']">
            <i class="fas fa-bone"></i>Animales
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/cuidadores']" [routerLinkActive]="['active']">
            <i class="fas fa-user-friends"></i>Cuidadores
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/tienda']" [routerLinkActive]="['active']">
            <i class="fas fa-shopping-cart"></i>Tienda
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contactos']" [routerLinkActive]="['active']">
            <i class="fas fa-address-book"></i>Contactos
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/tiny']" [routerLinkActive]="['active']">
            <i class="fas fa-stroopwafel"></i> Tiny
          </a>
        </li>

        <li class="nav-item none">
          <a class="nav-link active">l</a>
        </li>
        
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="!identity">

        <li class="nav-item none">
          <a class="nav-link active">l</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/registro']" [routerLinkActive]="['active']">
            <i class="fas fa-user-plus"></i> Registro
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']">
            <i class="fas fa-sign-in-alt"></i> Login
          </a>
        </li>

      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="identity">

        
        <li class="nav-item" *ngIf="identity.image">
          <div class="avatar-container">
            <img class="avatar" src="{{ url + 'get-image-file/'  + identity.image}}">
          </div>
        </li>

        <li class="nav-item none" *ngIf="!identity.image">
          <a class="nav-link active">l</a>
        </li>

        <li class="nav-item">
          <a class="dropdown-toggle nav-link-dropdown" 
            id="dropdownMenuLink" 
            data-toggle="dropdown" 
            aria-haspopup="true" 
            aria-expanded="false">

            {{identity.name}}
          </a>

          <div class="dropdown-menu dropdown-right dropdown-background" 
            aria-labelledby="dropdownMenuLink">

            <a *ngIf="identity && identity.role == 'ROLE_ADMIN'"
              class="dropdown-item dropdown-color"
              [routerLink]="['admin-panel']">
              <i class="fas fa-tasks"></i> Administración
            </a>

            <a class="dropdown-item dropdown-color"
              [routerLink]="['/mis-datos']">
              <i class="fas fa-cogs"></i> Mis Datos
            </a>
            
            <a class="dropdown-item dropdown-color" (click)="logout()">
              <i class="fas fa-sign-out-alt"></i> Salir
            </a>

          </div>

        </li>
      </ul>
  </div>
</nav>

<router-outlet></router-outlet>


<nav class="navbar navbar-expand-lg fixed-bottom navbar-dark bg-dark" >
  <a class="navbar-brand text-light">Creador: {{creator}}</a>
</nav>